$bg-primary: #660000;
$bg-main: #660000;
$accent-color: #151933;
$accent-light-color: #e7ece9;


body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.logo {
  height: 50px;
  width: auto;
}
.navbar-toggler-icon{
  color: $bg-primary !important;
}

.nav-link {
  .nav-link {
    color: $bg-primary;
    margin-right: 7px;
    font-size: 13px;
  }
}

.headersection {
  background-image: url('../images/Captain-Hamilton-banner.png');
  height: 100vh - 20;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.populartrip {
  color: $accent-light-color;
  font-size: 24px;
  font-weight: 700;
}

.terminalloc {
  font-size: 18px;
}

.pricesec {
  font-size: 23px;
  font-weight: 900 !important;
}

.pricemore {
  font-size: 13px !important;
  text-align: end !important;
}

.welcomediv {
  color: $accent-light-color;
  font-size: 40px;
  font-weight: 500;
}

.welcometext {
  color: $accent-light-color;
  font-size: 18px;
  font-weight: 400;
}

.trips {
  min-height: 100vh - 20;
}

footer {
  background: $bg-primary;
  min-height: 10vh;
  .vm-footer {
    height: 12vh;
    p {
      color: #ffffff;
      font-size: 14px;
      margin: auto 0;
    }
  }
}

.contactHeading {
  color: $bg-primary;
  font-size: 7vh;

}

.fa-3x {
  color: $bg-primary !important;
}

.contactinfo {
  color: $bg-primary;
  font-weight: 500;
}

.section-title {
  padding: 20px;
  color: white;
  background-color: $bg-primary;
  .title {
    font-weight: 500;
    margin: auto 0;
  }
}

.whoweare {
  color: #db7b7b;
}

.aboutimg {
  height: 350px;
}

.card-body {
  color: #88a6b7;
  font-size: 16px;
}

.bg-success {
  color: white !important;
  background-color: $bg-primary !important;
  font-size: 20px;
}

.tablebody {
  color: $bg-primary !important;
  font-size: 16px;
}
.page-link{
  color: $bg-primary !important;
}
.vm-btn-secondary.active{
  background-color: $bg-primary !important;
  border: 1px solid $bg-primary !important;
  &:hover{
    background-color: #660000;
  }
}
.btn-vm-custom-primary{
  background-color: $bg-primary !important;
  border: 1px solid $bg-primary !important;
  &:hover{
    background-color: $bg-primary !important;
  }
}

.btn-custom-primary{
  background-color: $bg-primary !important;
  border: 1px solid $bg-primary !important;
  &:hover{
    background-color: $bg-primary !important;
  }
}
.color-custom{
  color: #660000 !important;
}
.btn-custom-white{
  color: #660000 !important;
}

a {
  color: #660000 !important;
}

.number.active{
  background-color: $bg-primary !important;
}
.book-now{
  background-color: $bg-primary !important;
  &:hover {
    background-color: $bg-primary !important;
  }
}

.back-to-search{
  color: $bg-primary !important;
}
.navbar-toggler-icon{
  color: $bg-primary !important;
}


.main-section {
  min-height: 100vh - 20;
  .contact_title {
    color: $bg-main;
    font-size: 18px;
  }
  .section-title {
    background: $bg-main;
    color: #FFFFFF;
    padding: 20px;
  }
  .contact_form {
    .btn-primary {
      background-color: $bg-main;
      color: #ffffff;
      border-color: $bg-main;
    }
    .form-control {
      width: 100%;
      height: 60px;
      border: 1px solid $accent-color !important;

      &::placeholder {
        color: $accent-color;
        font-size: 18px;
      }
    }
    textarea {
      width: 100%;
      height: 120px;

      &::placeholder {
        color: $accent-color;
        font-size: 18px;
      }
    }
  }
  .about {
    padding-top: 40px;
    h1 {
      color: $bg-main;
    }
    p {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  .terminal {
    padding: 20px;

    .card {
      height: 300px;
    }
  }
}


@media screen and (max-width: 560px){
  .headersection {
    background-image: url('../images/Captain-Hamilton-banner.png');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .welcomediv{
    font-size: 28px !important;
  }
}

.brandlogo{
  height: 60px;
}



//form start
.vm-voomsway-filter {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255, 255, 255, 0.9);
  // one way options
  .vm-checkbox-label {
    margin: 0;
    &.active {
      background-color: #c52b32;
      border: 0;

    }
  }
  // filter search button
  .vm-btn-primary {
    background-color: #c52b32 !important;
    border: 0;
    &:hover {
      background-color: #bc1119 !important;
    }
    &:disabled {
      &:hover {
        //background-color: white !important;
      }
    }
  }

  .vm-filter-fields-section {
    // the menu dropdown
    .react-select__menu  {
    }
    // option in dropdown
    .react-select__menu .react-select__option {
    }
    // option hovered over
    .react-select__menu .react-select__option--is-focused {
    }
    // the react-select div - what user sees as input
    .react-select__control {
      //background-color: blue;
    }
  }
  // div of selected value or placeholder
  .react-select__single-value, .react-select__placeholder {
  }

  .vm-check-ticket-section {
    // input field for check ticket
    .ticket-field-input {
      margin-right: 12px;
      &.active, &:active,
      &.focus, &:focus {
      }
    }
  }
  // tab section
  .vm-tab-section {
    .vm-tab-label {
      color: #401010 !important;
      // when tab active
      &.vm-active-tab {
        border-bottom: 3px solid #c52b32;
        color: #c52b32 !important;
      }
    }
  }
}

.card-body {
  color: #989898 !important;
  font-size: 14px !important;
}