<footer class="container-fluid">
    <div class="vm-footer d-flex justify-content-center align-self-center">
        <p>© Copyright 2019 Captain Hamilton Transportation Company</p>
    </div>
</footer>