body {
  font-family: Roboto, sans-serif;
  font-size: 12px; }

.logo {
  height: 50px;
  width: auto; }

.navbar-toggler-icon {
  color: #660000 !important; }

.nav-link .nav-link {
  color: #660000;
  margin-right: 7px;
  font-size: 13px; }

.headersection {
  background-image: url("../images/Captain-Hamilton-banner.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.populartrip {
  color: #e7ece9;
  font-size: 24px;
  font-weight: 700; }

.terminalloc {
  font-size: 18px; }

.pricesec {
  font-size: 23px;
  font-weight: 900 !important; }

.pricemore {
  font-size: 13px !important;
  text-align: end !important; }

.welcomediv {
  color: #e7ece9;
  font-size: 40px;
  font-weight: 500; }

.welcometext {
  color: #e7ece9;
  font-size: 18px;
  font-weight: 400; }

.trips {
  min-height: 80vh; }

footer {
  background: #660000;
  min-height: 10vh; }
  footer .vm-footer {
    height: 12vh; }
    footer .vm-footer p {
      color: #ffffff;
      font-size: 14px;
      margin: auto 0; }

.contactHeading {
  color: #660000;
  font-size: 7vh; }

.fa-3x {
  color: #660000 !important; }

.contactinfo {
  color: #660000;
  font-weight: 500; }

.section-title {
  padding: 20px;
  color: white;
  background-color: #660000; }
  .section-title .title {
    font-weight: 500;
    margin: auto 0; }

.whoweare {
  color: #db7b7b; }

.aboutimg {
  height: 350px; }

.card-body {
  color: #88a6b7;
  font-size: 16px; }

.bg-success {
  color: white !important;
  background-color: #660000 !important;
  font-size: 20px; }

.tablebody {
  color: #660000 !important;
  font-size: 16px; }

.page-link {
  color: #660000 !important; }

.vm-btn-secondary.active {
  background-color: #660000 !important;
  border: 1px solid #660000 !important; }
  .vm-btn-secondary.active:hover {
    background-color: #660000; }

.btn-vm-custom-primary {
  background-color: #660000 !important;
  border: 1px solid #660000 !important; }
  .btn-vm-custom-primary:hover {
    background-color: #660000 !important; }

.btn-custom-primary {
  background-color: #660000 !important;
  border: 1px solid #660000 !important; }
  .btn-custom-primary:hover {
    background-color: #660000 !important; }

.color-custom {
  color: #660000 !important; }

.btn-custom-white {
  color: #660000 !important; }

.number.active {
  background-color: #660000 !important; }

.book-now {
  background-color: #660000 !important; }
  .book-now:hover {
    background-color: #660000 !important; }

.back-to-search {
  color: #660000 !important; }

.navbar-toggler-icon {
  color: #660000 !important; }

.main-section {
  min-height: 80vh; }
  .main-section .contact_title {
    color: #660000;
    font-size: 18px; }
  .main-section .section-title {
    background: #660000;
    color: #FFFFFF;
    padding: 20px; }
  .main-section .contact_form .btn-primary {
    background-color: #660000;
    color: #ffffff;
    border-color: #660000; }
  .main-section .contact_form .form-control {
    width: 100%;
    height: 60px;
    border: 1px solid #151933 !important; }
    .main-section .contact_form .form-control::placeholder {
      color: #151933;
      font-size: 18px; }
  .main-section .contact_form textarea {
    width: 100%;
    height: 120px; }
    .main-section .contact_form textarea::placeholder {
      color: #151933;
      font-size: 18px; }
  .main-section .about {
    padding-top: 40px; }
    .main-section .about h1 {
      color: #660000; }
    .main-section .about p {
      font-size: 20px;
      margin-bottom: 30px; }
  .main-section .terminal {
    padding: 20px; }
    .main-section .terminal .card {
      height: 300px; }

@media screen and (max-width: 560px) {
  .headersection {
    background-image: url("../images/Captain-Hamilton-banner.png");
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .welcomediv {
    font-size: 28px !important; } }

.brandlogo {
  height: 60px; }

.vm-voomsway-filter {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255, 255, 255, 0.9); }
  .vm-voomsway-filter .vm-checkbox-label {
    margin: 0; }
    .vm-voomsway-filter .vm-checkbox-label.active {
      background-color: #c52b32;
      border: 0; }
  .vm-voomsway-filter .vm-btn-primary {
    background-color: #c52b32 !important;
    border: 0; }
    .vm-voomsway-filter .vm-btn-primary:hover {
      background-color: #bc1119 !important; }
  .vm-voomsway-filter .vm-check-ticket-section .ticket-field-input {
    margin-right: 12px; }
  .vm-voomsway-filter .vm-tab-section .vm-tab-label {
    color: #401010 !important; }
    .vm-voomsway-filter .vm-tab-section .vm-tab-label.vm-active-tab {
      border-bottom: 3px solid #c52b32;
      color: #c52b32 !important; }

.card-body {
  color: #989898 !important;
  font-size: 14px !important; }
